.lists {
    height: max-content;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: 2px solid $color;
    border-radius: 0.5em;

    &__menu {
        display: flex;
        justify-content: space-between;

        &-input {
            width: 100%;
            background-color: transparent;
            color: $light;
            border: none;
            border-bottom: 2px solid $color;
        }

        &-btn {
            font-size: 1rem;
            border: none;
            border-bottom: 2px solid $color;
            border-radius: 0;
        }
    }

    &__list {
        margin-top: 1em;

        &-item {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__details {
                display: flex;
                font-size: 0.75rem;
            }
            &__name {
                margin: 0 0.25em;
                flex: 1 1;
            }
            &__delete {

            }
        }
    }
}