/* --- // --- // LISTS COMPONENT STYLING // --- // --- */

.lists {
    height: max-content;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border: 2px solid $color;
    border-radius: 0.5em;

    &__menu {
        display: flex;
        justify-content: space-between;

        &-input {
            width: 100%;
            padding-left: 0.25em;
            background-color: transparent;
            color: $light;
            border: none;
            border-bottom: 2px solid $color;
            border-left: 2px solid $color;
            border-top-left-radius: 0.5em;
        }

        &-btn {
            padding: 0.25em 0.25em 0 0.25em;
            background-color: transparent;
            color: $color;
            border: none;
            border-right: 2px solid $color;
            border-bottom: 2px solid $color;
            border-top-right-radius: 0.5em;
            box-shadow: inset 0 0 0 0 $color;
            font-size: 1rem;
            transition: $transition;
            cursor: pointer;

            &:hover {
                color: $white;
                box-shadow: inset -40px 0 0 0 $color;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    &__list {
        margin: 0.5em 0.25em;

        &-item {
            margin: 0.5em 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $gray;
            transition: $transition;

            &.active {
                color: $white;
            }

            &:hover {
                color: $light;
            }

            &__details {
                display: flex;
                font-size: 0.75rem;
            }

            &__name {
                margin: 0 0.25em;
                flex: 1 1;
                overflow: hidden;
                cursor: pointer;

                & p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &__delete {
                cursor: pointer;

                & .hovered {
                    color: $color-dark;
                }
            }
        }
    }
}

/* --- // --- // LISTS COMPONENT MEDIA QUERIES // --- // --- */

@media screen and (min-width: 769px) {
    .lists {
        width: 100%;
        margin: 5em auto 0 auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .lists {
        width: 70%;
        margin: 4em auto 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .lists {
        width: 80%;
        margin: 1em auto 0 auto;
    }
}