/* --- // --- // TASKS COMPONENT STYLING // --- // --- */

.tasks {
    display: flex;
    flex-direction: column;

    & button {
        padding: 0.5em 1em;
        background-color: transparent;
        color: $light;
        border: solid 2px $color;
        border-radius: 0.5em;
        transition: $transition;
        cursor: pointer;
    
        &:hover {
            background-color: $color;
            color: $white;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        &-msg {
            display: flex;
            justify-content: space-between;
            cursor: default;

            & p {
                margin: 0 auto;
            }

            &-success {
                color: $green;
            }

            &-info {
                color: $blue;
            }

            &-failure {
                color: $red;
            }
        }

        &-input {
            height: 50px;
            margin: 1em 0;
            padding: 2em 1em;
            background-color: transparent;
            color: $light;
            border: 2px solid $color;
            border-radius: 0.5em;
        }

        &-btns {
            width: 100%;
            display: flex;
        }

        &-btn {
            width: 80%;
            padding: 1em 0;
            transition: $transition;

            &:disabled {
                background-color: $color-dark;
                color: $gray;
                border: 2px solid $color-dark;
                cursor: not-allowed;
            }
        }
    }

    &__list {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        &-remaining {
            margin: 0.25em 0;
            border-bottom: 2px solid $light;
            text-align: center;
            cursor: default;
        }

        &-item {
            padding: 1.5em 0 0.25em 0;
            display: flex;
            justify-content: space-between;
            color: white;
            border-bottom: 2px solid $light;
            transition: $transition;

            &-radiobtn,
            &-delete {
                display: flex;
                transition: $transition;
                cursor: pointer;
            }

            &-radiobtn:hover {
                color: $gray;
            }

            &-delete .hovered {
                color: $color-dark;
            }

            & p {
                margin: 0 0.5em 0 0.5em;
                flex: 1 1;
                text-align: justify;
            }

            &-completed {
                color: $gray;
                border-bottom: 2px solid $gray;
            }

            & .completed-task {
                text-decoration: line-through;
            }
        }
    }
}

/* --- // --- // TASKS COMPONENT MEDIA QUERIES // --- // --- */

@media screen and (min-width: 1024px) {
    .tasks {
        margin: 1em 0.5em;

        &__menu {
            &-msg {
                font-size: 1.5rem;
            }

            &-input {
                font-size: 1rem;
            }

            &-btn {
                margin: 0.5em 0.5em;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .tasks {
        margin: 2em 0.5em;

        &__menu {
            &-msg {
                font-size: 1.3rem;
            }

            &-btn {
                margin: 0.5em 0.5em;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .tasks {
        margin: 5em 0.5em;

        &__menu {
            &-msg {
                font-size: 1.2rem;
            }

            &-input {
                font-size: 1rem;
            }

            &-btns {
                flex-direction: column;
            }

            &-btn {
                margin: 0.5em auto;
            }
        }
    }
}