.task-list {
    margin: 5em 0.5em;
    display: flex;
    flex-direction: column;

    &__menu {
        display: flex;
        flex-direction: column;

        &-msg {
            display: flex;
            justify-content: space-between;
            cursor: default;

            & p {
                margin: 0 1em;
            }
        }

        &-input {
            height: 50px;
            margin: 1em 0;
            padding: 0.5em 1em;
            background-color: transparent;
            color: $light;
            border: 2px solid $color;
            border-radius: 0.5em;
        }

        &-btn {
            width: 80%;
            margin: 0.5em auto;
        }
    }

    &__list {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        &-remaining {
            margin: 0.25em 0;
            text-align: center;
            cursor: default;
        }

        &-item {
            padding: 0.5em 0;
            display: flex;
            justify-content: space-between;
            color: white;
            border-top: 2px solid $light;
        }
    }
}