/* --- // --- // TASKS COMPONENT ANIMATIONS // --- // --- */

.animate-tasks {
    &-enter {
        opacity: 0;
        transform: translateX(100%);
    }

    &-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: $tasks-animation;
    }

    &-exit {
        opacity: 1;
        transform: translateX(0);
    }

    &-exit-active {
        opacity: 0;
        transform: translateX(100%);
        transition: $tasks-animation;
    }
}