/* --- // --- // COLOURS // --- // --- */

$background: #1f1f38;
$background-light: #2c2c6c;
$color: rgb(206, 82, 51);
$white: #fff;
$light: rgb(213, 235, 243);
$gray: rgb(143, 161, 168);

/* --- // --- // TRANSITIONS // --- // --- */

$transition: all 0.3s ease;