@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
    color: $light;
}

button {
    padding: 0.5em 1em;
    background-color: transparent;
    color: $light;
    border: solid 2px $color;
    border-radius: 0.5em;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background-color: $color;
        color: $white;
    }
}

.container {
    width: 90%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

@import "./components/tasksList"