@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
    color: $light;
}

.container {
    margin: 1em auto;
}

/* --- // --- // MEDIA QUERIES // --- // --- */

@media screen and (min-width: 769px) {
    .container {
        width: $width-lg;
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: $width-md;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: $width-sm;
        display: flex;
        flex-direction: column;
    }
}

@import "./components/socials";
@import "./components/lists";
@import "./components/tasks";